.cdt {
    &-btn {
        outline: none;
        &-transparent {
          background: 0;
          color: $primary-color-1;
          transition: all 0.2s;
          &:hover {
            background: $primary-color-1;
            color: #fff;
          }
        }
        &-round {
          border-radius: 50px;
        }
        &-large {
          font-size: 15px;
           padding: 20px 35px;
        }
        font-size: 14px;
        border: none;
        border-radius: 1px;
        padding: 10px 20px;
        text-decoration: none;
        background: #333;
        color: #fff;
        cursor: pointer;
        &-primary {
          color: #fff;
          background: $primary-color-1;
          transition: all 0.2s;
          &:hover {
            background: darken($primary-color-1, 5%);
          }
        }
    }
}